.CommentForm {
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    padding: 20px;
}

.input {
    flex-grow: 1;
}

.replyBanner {
    padding: 4px 8px;
    border-radius: 8px;
    background: var(--card-bg);
}
